<div
  class="h-120 w-72 rounded-sm shadow-lg mx-auto border border-palette-lighter"
>
  <div class="h-72 border-b-2 border-palette-lighter relative overflow-hidden">
    @if (pet.adopted) {
    <div class="absolute top-0 right-0 z-10">
      <div
        class="bg-purple-600 text-white text-xs font-bold px-15 py-2 transform rotate-45 translate-x-10 translate-y-9 shadow-md"
      >
        ADOPTED
      </div>
    </div>
    }
    <img
      alt="{{ pet.name }}"
      src="{{ pet.image }}"
      class="w-full h-full object-cover transform duration-500 ease-in-out hover:brightness-75"
    />
  </div>
  <div class="h-48 relative overflow-hidden">
    <div
      class="font-primary text-palette-primary text-2xl pt-4 px-4 font-semibold"
    >
      {{ pet.name }}
    </div>

    <div class="text-lg text-gray-600 p-4 font-primary font-light">
      {{ pet.description }}
    </div>
    @if (!pet.adopted) {
    <div class="grid grid-cols-2 gap-2">
      <button
        type="button"
        class="m-4 p-2 bg-palette-primary text-white rounded-xs font-primary font-semibold hover:bg-palette-dark"
      >
        Pet
      </button>
      <button
        type="button"
        class="m-4 p-2 bg-palette-primary text-white rounded-xs font-primary font-semibold hover:bg-palette-dark"
      >
        Adopt
      </button>
    </div>
    }
  </div>
</div>
